.content-page {
  background-color: #00c3ff; /* Background color for content */
  padding: 20px;
  border: none; /* Remove border */
  border-radius: 0; /* Remove border radius */
  box-shadow: none; /* Remove shadow */
  height: 96vh; /* Full height */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space between header and footer */
  align-items: center; /* Center content horizontally */
  position: relative;
}

.damn {
  font-size: 2.5em; /* Increase font size for the title */
  margin: 20px 0; /* Add margin */
  text-align: center; /* Center the title */
  position: absolute;
  top: 0;
}

.card-container {
  flex-grow: 1; /* Allow this section to grow and take available space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: column;
}

.navigation {
  margin: 20px 0; /* Add margin for spacing */
}

.navigation button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db; /* Button color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.navigation button:hover {
  background-color: #2980b9; /* Darker button color on hover */
}
